*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: #1d2023;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h2{

    color: #fff;
    font-size: 40px;
}
@media screen and (max-width: 445px) {
    h2{
        font-size: 25px;
    }
}
.prompt{
    background-color: #292c31;
    padding: 5px;
    width: 75%;
    border: 3px solid #36383d;
    border-radius: 10px;
}


input,button{
    padding: 10px;
    border: none;
    font-size: 20px;

}
input{
    background-color: #292c31;
    width: 70%;
    outline: none;
    color: #fff;
}
button{
    background-color: #36383d;
    color: #fff;
    width: 20%;
    cursor: pointer;
}
button:hover{
    background-color: #45464a;
}
.images{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.images div{
    height: 200px;
    width: 200px;
    background-color: #292c31;
    border-radius: 10px;
    border: 3px solid #45464a;
}
.images div img {
    width: 100%;    
}
@media screen and (max-width: 555px) {
    button{
        font-size: 15px;
    }
}
@media screen and (max-width: 429px) {
    button{
        font-size: 10px;
    }
}
